.content {
    display: grid;
    grid-template-rows: auto; /* Each item on a separate row */
    grid-gap: 10px;
    background-color: #1C2833;
    width: 72px;
    height: max-content;
    justify-content: center;
    align-items: center;
}
.icon {
cursor:pointer;
}
div{
    cursor: pointer;
}

 .link :hover {
background-color: #FFFFFF;
}
