.sales_items {
    width: 20%;
    border: 1px solid;
    height: 100%;
}
.item{
    margin-top: 50px;

}

.item:hover{
    background-color: beige;
    border: 1px solid;
    border-radius: 3px;
    height: 40px;


}